RewriteEngine On
RewriteRule ^assets/(.*)$ dist/assets/$1 [L]
RewriteRule ^uploads/(.*)$ api/uploads/$1 [L]

RewriteCond %{REQUEST_URI} !^/api/uploads/
RewriteRule ^api/(.*)$ api/index.php [L]

RewriteCond %{REQUEST_URI} !^/api/uploads/
RewriteCond %{REQUEST_URI} !^/dist/assets
RewriteRule ^ dist/index.html [L]
