.app-sub-header{
  background: #CCC url('http://localhost/uploads/headers/optica_pattern_11.png') 50% no-repeat;
  background-size: cover;
  height: 150px;
}

.app-sub-header-title{
  padding: 30px 30px;
  color: rgba(0,0,0,.6);
  font-size: 60px;
}
