.comment{
  background: #FFF;
  border-top: 1px solid #888;


  &.odd{
    background: #EEE;
  }

  &.normalize{
    margin-left: -67px;
  }

  .comment-image{
    & .media-object{
      width: 64px;
      height: 64px;
    }
  }

  .comment-body{
    padding: 5px 0 0 2px;
  }

  .comment-heading{
    font-size: 15px;
    margin: 0;
    padding: 0 0 2px 0;
    border-bottom: 1px solid #CCC;
  }

  .comment-content{
    font-size: 14px;
    padding: 2px;
    min-height: 50px;
  }
}
