.comment{
  background: rgba(0,0,0,0.05);
}

.comment > .comment-image{
  & .media-object{
    width: 64px;
    height: 64px;
  }
}

.comment > .comment-body{
  padding: 5px 2px;
}

.comment .comment-heading{
  font-size: 15px;
  margin: 0;
  padding: 0 0 2px 0;
  border-bottom: 1px solid #CCC;
}

.comment .comment-content{
  font-size: 14px;
  padding: 2px;
  min-height: 50px;
}
