.drawer-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 9999;
}

.navigation-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  background: #FFF;
  box-shadow: 0 1px 4px rgba(0,0,0,0.6);
  z-index: 999;
  overflow: auto;
  & > h2{
    height:52px;
    padding: 6px 20px;
    background: #373a3c;
    color: #CCC;

    & > a{
      color: #CCC;
      text-decoration: none;
    }
  }
}

.navigation-drawer.closed, .drawer-background.closed{
  display: none;
}
