.navbar li {
  height: 40px;
}

.app-navbar{
  padding: 7px 15px;
  min-height: 52px;
}

.navbar-brand{
  margin-left: 5px;
}

.navbar-nav{
  flex-direction: row;

  & .nav-link{
    padding: 0.5em 1em;
  }
}
