.sub-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-list-item{
  background: rgba(0,0,0,.05);
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.sub-list-vote{
  width: 50px;
  border-right: 1px solid #ccc;

  & > button{
    display: block;
    width: 100%;
    border: none;
    background: rgba(0,0,0,.05);
    cursor: pointer;
    height: calc(50% - 15px);

    &:hover{
      background: rgba(0,0,0,.1);
    }

    &.voted{
      background: rgba(0,0,0,.05);
      color: green;
      cursor: default;
    }
  }

  & > .upvote-count{
    display: block;
    text-align: center;
    font-size: 20px;
  }
}

.sub-list-image{
  float: left;
  height: 100%;
  width: 82px;
  background: #CCC;
  margin-right: 5px;
}

.sub-list-item-link{
  display: block;
  position: relative;
  width: calc(100% - 120px);
  &:hover{
    background: rgba(0,0,0,.05);
    text-decoration:none;
  }

  .link-title{
    padding: 0 5px;
    font-size: 1em;
  }

  &:hover > .link-title{
    text-decoration: underline;
  }

  .link-desc{
    padding: 0 5px;
    text-decoration: none;
    color: #444;
    font-size: 13px;
    margin-bottom: 5px;
    overflow: hidden;
    max-height: 44px;
  }

  .link-date{
    bottom: 0;
    padding-left: 5px;
    color: #555;
    font-size: 13px;
    border-top: 1px solid #CCC;
    width: 100%;
  }
}

.sub-list-item-meta{
  width: 70px;
  border-left: 1px solid #CCC;
  color: #333;

}

.sub-list-item-author{
  display: block;
  text-align: center;
  padding-top: 4%;
  border-bottom: 1px solid #CCC;
  height: 40%;
  &:hover{
    text-decoration: none;
    background: rgba(0,0,0,.05);
    color: #333;
  }
}

.sub-list-item-comments{
  display: block;
  width: 70px;
  color: #333;
  height: 60%;

  &:hover{
    text-decoration: none;
    background: rgba(0,0,0,.05);
    color: #333;
  }

  .comments-count{
    display: block;
    text-align: center;
    font-size: 20px;
  }

  .comments-button{
    display: block;
    text-align: center;
    font-size: 14px;
  }
}
